[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/haml"]
	path = vendor/plugins/haml
	url = git://github.com/nex3/haml.git
[submodule "vendor/plugins/rspec_rails"]
	path = vendor/plugins/rspec_rails
	url = git://github.com/dchelimsky/rspec-rails.git
[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/plugins/cucumber"]
	path = vendor/plugins/cucumber
	url = git://github.com/aslakhellesoy/cucumber.git
[submodule "vendor/plugins/friendly_id"]
	path = vendor/plugins/friendly_id
	url = git://github.com/norman/friendly_id.git
[submodule "vendor/plugins/ar_fixtures"]
	path = vendor/plugins/ar_fixtures
	url = git://github.com/topfunky/ar_fixtures.git
[submodule "vendor/plugins/companies-house"]
	path = vendor/plugins/companies-house
	url = git://github.com/robmckinnon/companies-house.git
[submodule "vendor/plugins/morph"]
	path = vendor/plugins/morph
	url = git://github.com/robmckinnon/morph.git
[submodule "vendor/plugins/yajl"]
	path = vendor/plugins/yajl
	url = http://github.com/brianmario/yajl-ruby.git
