body, html {
	height: 100%;
  font-family:"Lucida Grande", Arial,Helvetica,sans-serif; font-size:12px;
}

div#layout {
    padding-top: 20px;
}
div#layout,
div#header {
    width: 798px;
    margin: 0 auto;
}

div#profile {
  padding-left: 20px;
  
}

#profile img {
  width:  140px;
  height: 140px;
}