body, html {
	height: 100%;
  font-family:"Lucida Grande", Arial,Helvetica,sans-serif; font-size:12px;
}

div#layout {
    padding-top: 20px;
}
div#layout,
div#header {
    width: 798px;
    margin: 0 auto;
}

div#profile {
  padding-left: 20px;
  width: 500px;
}


#profile .address {
  float: left;
  padding-left: 10px;
}

#profile .logo {
  width:  140px;
  height: 140px;
  float: left;
}
#searchbox {
  clear: both; padding-top: 60px; text-align: center;
}
#searchbox .textbox {
  border: 1px solid black; height:40px; width: 410px; font-size: 30px;
  
  }
img {border: 0;}

