body, html {
  height: 100%;
  font-family:"Lucida Grande", Arial,Helvetica,sans-serif; font-size:12px;
}
div#layout {
  padding-top: 20px;
}
div#layout, div#header {
  width: 798px;
  margin: 0 auto;
}

div#header .tagline {text-align: right; float: right}
div#footer {padding-top: 4%; padding-left: 10%;}
div#footer .about   {font-size: 15px; font-weight: italic; veritcal-align: center}
div#footer .rslogo  {float: left; padding: 10px}
div#footer .credits {font-size: 10px}

div#profile {
  padding-left: 20px;
}
#profile .address {
}
#profile .companies-direct-link {
}
#profile .panel {
  padding-left: 10px;
  float: left;
}
#profile .logo {
  width:  140px;
  height: 140px;
  float: left;
}
#searchbox {
  clear: both; padding-top: 60px; text-align: center;
}
#searchbox .textbox {
  border: 1px solid black; height:40px; width: 410px; font-size: 30px;
}
img {
  border: 0;
}
#results {
  clear: both; padding-top: 0px; text-align: center;
}
#results ol {
  margin-left: 250px;
}
#results ol li{
  list-style: none;
  text-align: left;
}
#rsproduct {
  padding-top: 10px;
}
