<% content_for :head do %>
<style>
div#header {
  margin-top: 20px;
}
</style>
<% end %>
    <div id="searchbox">
      <p style='font-size: 1.8em'>This Companies Open House service has closed.</p>

      <p style='font-size: 1.8em; line-height: 1.3em; padding-top: 1.5em;'>
      <a title="OpenCorporates :: The Open Database Of The Corporate World" href="http://opencorporates.com/">OpenCorporates</a>
      is the new Open Database of the Corporate World: <a title="OpenCorporates :: The Open Database Of The Corporate World" href="http://opencorporates.com/"><img src="http://opencorporates.com/images/opencos_logo.png" /></a></p>
    </div>

