<% content_for :head do %>
<style>
div#presentation {
  clear: both;
  padding-top: 20px;
  text-align: center;
}
#rsproduct {
  padding-top: 50px;
}
</style>
<% end %>
    <% @title= 'Rewired State Presentation' %>
    <h1>Rewired State Presentation</h1>
    <div id='presentation'>
      <embed src="http://blip.tv/play/AfHYGJTQOg" type="application/x-shockwave-flash" width="480" height="382" allowscriptaccess="always" allowfullscreen="true"></embed>
    </div>
    <div>
      <p>The government's www.companieshouse.gov.uk website doesn't have a permanent URL for each registered company, and is shut between midnight and 7am.</p>
      <p>Companies Open House is an app that parses company data and gives you a nice page with the basic details about each company at a permanent URL. From that page, you can get to the company details on the government's site (provided it's open) via a link that redirects you one of their temporary session URLs.</p>
      <p>Through Companies Open House's restful API, you can search for and obtain company details from within other applications. For example, you can lookup company details via Google spreadsheet's ImportXML() function.</p>
      <p><a href="http://companiesopen.org/">Companies Open House</a> is always open 24/7. You can use each company's permanent URL as an unambigious indicator when making inferences about a company on the Web.</p>
    </div>
