    <% @title= %Q|Search results for "#{@query}"| %>
      <%= render :partial => "/home/search_box", :locals => {:query => @query} %>
    <div id="results">
      <p>You searched for "<%= h @query %>"</p>
      <p>Results (<%= @companies.size %>)</p>
      <ol>
      <% for company in @companies %>
        <li><%= link_to(company.name, show_by_number_and_name_url(:country_code=>company.country_code, :number=>company.company_number, :name => company.friendly_id) )%> <%= company.company_status.blank? ? '' : "(#{company.company_status.downcase}) #{company.id}"%> </li>
      <% end %>
      </ol>
      <% if @companies.empty? %>
        <p>Our database currently contains a sample of
        <br /> <%= Company.count %> companies for demonstration purposes.</p>
      <% end %>
    </div>


