<% content_for :head do %>
<link rel="alternate" type="application/rdf+xml" href="<%= show_it_formatted_path(@company, :format => 'rdf') %>" />
<% end %>
<% @title= "#{@company.name} | Company No. #{@company.company_number} " %>
<div id="profile">
<h1><%= @company.name %></h1>
  <%= logo_image(@company) %>
<div class="panel">
  <p class="address">
    <%= @company.address.gsub(',','<br />')%>
  </p>
  <p class="number">
    Company No. <%= @company.company_number %>
  </p>
  <% unless false # || @company.companies_house_url.blank? %>
    <% unless  @company.companies_house_data.blank? %>
      <p class="type">
        Type: <%= @company.companies_house_data.data["Company Type"].to_s.gsub(/:/,'').strip %>
      </p>
    <% end %>
  <% end %>
  <p class="companies-direct-link">Companies House Direct link: <%= link_to @company.name, companies_house_url(:number => @company.company_number) %></p>
  <p class="number">
    <% short_url = show_it_url(:id => @company.company_number) %>
    Short URL: <%= link_to h(short_url), short_url %>
  </p>
  <p class="number">
    <% xml_url = show_by_number_url(:number => @company.company_number)+'.xml' %>
    XML URL: <%= link_to h(xml_url), xml_url %>
    <span style="font-size: 0.8em">(xml subject to change)</span>
  </p>
</div>
<br style="clear: both" />
</div>

