<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Companies Open House"/>
    <meta name="keywords" content="twitter,search,realtime"/>
    <title><%= @title ? "#{@title} | Companies Open House" : "Companies Open House" %></title>
    <%= stylesheet_link_tag("application") %>
    <%= javascript_include_tag("jquery-1.3.2.min", "application") %>
      <%= yield :head %>
  </head>
  <body>
    <div id="layout">
      <div id="header" >
        <%= link_to(image_tag('coh.png'), '/') %>
        <span class="tagline"></span>
      </div>
      <div id="container">
        <%= yield %>
      </div>
      <div id="footer">
        <div id="rsproduct">
          <div class="rslogo"><%= image_tag('logo/rs_bigger.png') %></div>
          <div>
            <p class="about">Companies Open House was constructed as part of a <%= link_to('Rewired State','http://rewiredstate.org/') %> hackday.
              <br />Watch the Rewired State presentation for an <%= link_to('explanation of the site',rewired_state_presentation_url) %>.<br />
              <br />
              <span class="credits">Credits:
                <a href="http://twitter.com/delineator">@delineator</a>
                <a href="http://twitter.com/grahamashton">@grahamashton</a>
                <a href="http://twitter.com/jamespjh">@jamespjh</a>
                <a href="http://twitter.com/martinbtt">@martinbtt</a>
                <a href="http://twitter.com/metade">@metade</a>
              </span>
            </p>
         </div>
         <div>
         </div>
       </div>
    </div>
  </div>
<% if RAILS_ENV == 'production' %>
<script type="text/javascript">
window.google_analytics_uacct = "UA-18183959-2";
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18183959-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<% end %>
  </body>
</html>