<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Companies Open House, always open 24/7 (unlike UK's Companies House)"/>
    <meta name="keywords" content="twitter,search,realtime"/>
    <title><%= @title ? "#{@title} | Companies Open House" : "Companies Open House, always open 24/7 (unlike companies house)" %></title>
    <%= stylesheet_link_tag("application") %>
    <%= javascript_include_tag("jquery-1.3.2.min", "application") %>
      <%= yield :head %>
  </head>
  <body>
    <div id="layout">
      <div id="header" >
        <%= link_to(image_tag('coh.png'), '/') %>
        <span class="tagline">always open 24/7 (unlike companies house)</span>
      </div>
      <div id="container">
        <%= yield %>
      </div>
      <div id="footer">
        <div id="rsproduct">
          <div class="rslogo"><%= image_tag('logo/rs_bigger.png') %></div>
          <div>
            <p class="about">This service was constructed as part of the <%= link_to('Rewired State','http://rewiredstate.org/') %> hackday.
              <br />Watch our Rewired State presentation for an <%= link_to('explanation of the site',rewired_state_presentation_url) %>.<br />
              <br />
              <span class="credits">Credits:
                <a href="http://twitter.com/delineator">@delineator</a>
                <a href="http://twitter.com/grahamashton">@grahamashton</a>
                <a href="http://twitter.com/jamespjh">@jamespjh</a>
                <a href="http://twitter.com/martinbtt">@martinbtt</a>
                <a href="http://twitter.com/metade">@metade</a>
              </span>
            </p>
         </div>
         <div>
         </div>
       </div>
    </div>
  </div>
<% if RAILS_ENV == 'production' %>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7809484-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<% end %>
  </body>
</html>